.navbar {
  width: 100%;
  height: var(--navbar-height);
  padding: 0 32px;
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
